# Arquivos de configuração e ambiente
.env
.vscode/
.git/

# Banco de dados
*.db
database.db

# Diretórios Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Diretórios de backup e temporários
BACKUP/
tmp/
logs/

# Dependências e pacotes
venv/ 
*.egg-info/
dist/
build/
